<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Create</title>
    </head>
    <body>
        <h1>Create User</h1>

        <form action="/create" method="POST">
            <label for="name">Name: </label>
            <input name="name" type="text">

            <label for="surname">Surname: </label>
            <input name="surname" type="text">

            <label for="age">Age: </label>
            <input name="age" type="text">

            <input type="submit" value="Send">
        </form>

    </body>
</html>